@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(180deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(180deg); } }

@-moz-keyframes flip {
  from {
    -moz-transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(180deg); } }

@-webkit-keyframes flip {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(180deg); } }

@keyframes flip {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(180deg); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .9; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .9; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: .9; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: .9; }
  to {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  from {
    opacity: .9; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: .9; }
  to {
    opacity: 0; } }

@-webkit-keyframes fadeHalf {
  from {
    opacity: 1; }
  to {
    opacity: .5; } }

@-moz-keyframes fadeHalf {
  from {
    opacity: 1; }
  to {
    opacity: .5; } }

@keyframes fadeHalf {
  from {
    opacity: 1; }
  to {
    opacity: .5; } }

@-webkit-keyframes fadeWhole {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeWhole {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@keyframes fadeWhole {
  from {
    opacity: .5; }
  to {
    opacity: 1; } }

@-webkit-keyframes slide-in {
  from {
    margin-left: 1500px; }
  to {
    margin-left: 0px; } }

@-moz-keyframes slide-in {
  from {
    margin-left: 1500px; }
  to {
    margin-left: 0px; } }

@keyframes slide-in {
  from {
    margin-left: 1500px; }
  to {
    margin-left: 0px; } }

@-webkit-keyframes slide-out {
  from {
    margin-left: 0px; }
  to {
    margin-left: 1500px; } }

@-moz-keyframes slide-out {
  from {
    margin-left: 0px; }
  to {
    margin-left: 1500px; } }

@keyframes slide-out {
  from {
    margin-left: 0px; }
  to {
    margin-left: 1500px; } }

@-moz-keyframes shrink {
  from {
    -moz-transform: scale(1); }
  to {
    -moz-transform: scale(0.7); } }

@-webkit-keyframes shrink {
  from {
    -webkit-transform: scale(1); }
  to {
    -webkit-transform: scale(0.7); } }

@keyframes shrink {
  from {
    transform: scale(1); }
  to {
    transform: scale(0.7); } }

@-moz-keyframes expand {
  from {
    -moz-transform: scale(0.7); }
  to {
    -moz-transform: scale(1); } }

@-webkit-keyframes expand {
  from {
    -webkit-transform: scale(0.7); }
  to {
    -webkit-transform: scale(1); } }

@keyframes expand {
  from {
    transform: scale(0.7); }
  to {
    transform: scale(1); } }

.flip {
  -webkit-animation: flip ease-in 1;
  /* call our keyframe named flip, use animattion ease-in and repeat it only 1 time */
  -moz-animation: flip ease-in 1;
  animation: flip ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-in {
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s; }

.fade-out {
  -webkit-animation: fadeOut ease-in 1;
  /* call our keyframe named fadeOut, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeOut ease-in 1;
  animation: fadeOut ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.slide-in {
  -webkit-animation: slide-in ease-in 1;
  /* call our keyframe named slide-in, use animattion ease-in and repeat it only 1 time */
  -moz-animation: slide-in ease-in 1;
  animation: slide-in ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.slide-out {
  -webkit-animation: slide-out ease-in 1;
  /* call our keyframe named slide-out, use animattion ease-in and repeat it only 1 time */
  -moz-animation: slide-out ease-in 1;
  animation: slide-out ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.shrink {
  -webkit-animation: shrink ease-in 1;
  /* call our keyframe named shrink, use animattion ease-in and repeat it only 1 time */
  -moz-animation: shrink ease-in 1;
  animation: shrink ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.expand {
  -webkit-animation: expand ease-in 1;
  /* call our keyframe named expand, use animattion ease-in and repeat it only 1 time */
  -moz-animation: expand ease-in 1;
  animation: expand ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.fade-half {
  -webkit-animation: fadeHalf ease-in 1;
  /* call our keyframe named fadeHalf, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeHalf ease-in 1;
  animation: fadeHalf ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.fade-whole {
  -webkit-animation: fadeWhole ease-in 1;
  /* call our keyframe named fadeWhole, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeWhole ease-in 1;
  animation: fadeWhole ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s; }

.slide-right {
  margin-left: 1000px; }

.flip90 {
  transform: rotateY(90deg); }

.show-hand {
  display: none; }

.show-profile-content {
  opacity: 1; }

#cube .front {
  transform: rotateY(0deg); }

#cube .back {
  transform: rotateX(180deg); }

#cube .right {
  transform: rotateY(90deg); }

#cube .left {
  transform: rotateY(-90deg); }

#cube .top {
  transform: rotateX(90deg); }

#cube .bottom {
  transform: rotateX(-90deg); }

#cube .front {
  transform: rotateY(0deg) translateZ(100px); }

#cube .back {
  transform: rotateX(180deg) translateZ(100px); }

#cube .right {
  transform: rotateY(90deg) translateZ(100px); }

#cube .left {
  transform: rotateY(-90deg) translateZ(100px); }

#cube .top {
  transform: rotateX(90deg) translateZ(100px); }

#cube .bottom {
  transform: rotateX(-90deg) translateZ(100px); }

.show-front {
  transform: translateZ(-100px) rotateY(0deg); }

.show-back {
  transform: translateZ(-100px) rotateX(-180deg); }

.show-right {
  transform: translateZ(-100px) rotateY(-90deg); }

.show-left {
  transform: translateZ(-100px) rotateY(90deg); }

.show-top {
  transform: translateZ(-100px) rotateX(-90deg); }

.show-bottom {
  transform: translateZ(-100px) rotateX(90deg); }

h1, h2, h4, h5, h6 {
  font-family: 'old_standard_tt', Georgia, "Times New Roman", Times, serif; }

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black; }

.profile-directive {
  transition: 1s;
  position: absolute;
  width: 90%;
  height: 2500px;
  background-color: white;
  color: black;
  z-index: 6;
  border: solid 15px rgba(250, 250, 250, 0.9);
  margin: 20px; }
  .profile-directive div {
    display: inline-block; }
  .profile-directive .blurb-award {
    width: 100%;
    background: #353f55;
    opacity: .9;
    height: 800px;
    top: 0px; }
    .profile-directive .blurb-award .title-profile {
      position: absolute;
      left: 20%;
      top: 200px;
      z-index: 10;
      font-size: 3em;
      letter-spacing: 4px; }
    .profile-directive .blurb-award img {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 800px; }
    .profile-directive .blurb-award h5 {
      transform: rotate(90deg);
      position: absolute;
      font-size: 2em;
      right: -8%;
      top: 150px; }
  .profile-directive .content-banner {
    background-color: #b46357;
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 570px;
    z-index: 15;
    text-align: center; }
    .profile-directive .content-banner span {
      font-size: 2em; }
    .profile-directive .content-banner .expanded-profile {
      transition: .5s;
      font-size: 0;
      opacity: 0;
      font-family: 'hallo_sans', Helvetica, Arial, sans-serif;
      font-weight: lighter;
      padding: 10px;
      letter-spacing: 5px; }
      .profile-directive .content-banner .expanded-profile h1 {
        width: 49%;
        float: left;
        padding: 10px; }
      .profile-directive .content-banner .expanded-profile h2 {
        width: 49%;
        border-left: solid white 1px;
        float: right;
        padding: 10px; }

.copyright {
  transform: rotate(90deg);
  position: absolute;
  right: 20px;
  top: 400px;
  font-size: .7em; }

.glyphicon-hand-left {
  position: absolute;
  top: 300px;
  left: 20px;
  font-size: 2em;
  height: 400px; }
  .glyphicon-hand-left h1 {
    color: green;
    font-size: 1em;
    transform: rotate(90deg); }

.glyphicon-hand-right {
  position: absolute;
  top: 300px;
  z-index: 5;
  color: white;
  right: 20px;
  font-size: 2em;
  height: 400px;
  font-size: 20px; }
  .glyphicon-hand-right h1 {
    font-size: 1em;
    transform: rotate(90deg); }

.vdl-banner {
  position: absolute;
  left: 10%;
  top: 200px;
  font-size: 5em;
  z-index: 8;
  background-color: rgba(250, 250, 250, 0.1); }

.landing-pics {
  transition: 1s ease-in;
  background-color: rgba(250, 250, 250, 0.7);
  width: 100%;
  height: 800px;
  margin: auto;
  padding: 15%; }
  .landing-pics div {
    top: 10%;
    position: absolute;
    width: 70%;
    opacity: 0; }
    .landing-pics div img {
      margin: 0;
      opacity: 0;
      width: 100%; }

.navbar {
  z-index: 5;
  width: 400px;
  position: absolute;
  top: 10px;
  right: 100px; }
  .navbar li {
    text-decoration: underline;
    width: 30%;
    display: inline-block; }
    .navbar li a {
      text-decoration: none;
      color: black; }
      .navbar li a:hover {
        font-weight: bold; }
  .navbar .dropdown {
    z-index: 15;
    width: 100px; }
    .navbar .dropdown button {
      background: none;
      text-decoration: underline; }
    .navbar .dropdown .dropdown-menu {
      height: 100px; }
      .navbar .dropdown .dropdown-menu li {
        display: block;
        height: 30px; }

footer {
  display: block;
  width: 100%;
  margin-top: 1000px; }

.main-div .hamburger-border {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 0;
  top: 15px;
  left: 15px;
  z-index: 3;
  padding: 5px;
  text-align: center;
  transform: rotate(45deg);
  border: solid #AC8E5D 1px; }

.main-div .glyphicon-menu-hamburger {
  z-index: 3;
  font-size: 30px;
  color: #AC8E5D;
  transform: rotate(45deg); }

.featured-projects li {
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  padding: 5px;
  margin-top: 50px; }
  .featured-projects li span {
    position: absolute;
    font-size: 20px;
    margin-top: -50px;
    z-index: 5;
    color: black; }
    .featured-projects li span:hover {
      opacity: .7; }
  .featured-projects li img {
    z-index: 0;
    width: 100%;
    height: 100%; }

.expanded-container li {
  width: 15%;
  display: inline-block; }
  .expanded-container li img {
    width: 100px;
    height: 100px; }

.carousel-wide {
  position: fixed;
  top: 100px;
  left: 0px;
  height: 600px; }
  .carousel-wide #carousel-short {
    transition: .5s ease-in;
    position: absolute;
    z-index: 2;
    height: 600px;
    width: 1000px;
    left: 400px; }
    .carousel-wide #carousel-short li {
      display: inline-block;
      height: 590px;
      width: 590px;
      padding: 0, 10px, 0, 10px; }
      .carousel-wide #carousel-short li img {
        width: 560px;
        height: 580px; }
  .carousel-wide .blur-right {
    width: 440px;
    height: 580px;
    position: absolute;
    left: 1130px;
    opacity: .5;
    background: white;
    z-index: 5; }
    .carousel-wide .blur-right span {
      font-size: 5em;
      top: 50%;
      left: 50px; }
  .carousel-wide .blur-left {
    width: 440px;
    height: 580px;
    position: absolute;
    left: -300px;
    opacity: .5;
    background: white;
    z-index: 5; }
    .carousel-wide .blur-left .glyphicon-menu-left {
      font-size: 5em;
      top: 50%;
      left: 300px; }
    .carousel-wide .blur-left .hamburger-border {
      position: absolute;
      width: 50px;
      height: 50px;
      margin: 0;
      top: 50%;
      left: 10%;
      z-index: 3;
      padding: 5px;
      text-align: center;
      transform: rotate(45deg);
      border: solid #AC8E5D 1px; }
    .carousel-wide .blur-left .glyphicon-menu-hamburger {
      z-index: 3;
      font-size: 30px;
      color: #AC8E5D;
      transform: rotate(45deg); }

.main-div {
  transition: 1s; }

.sub-div-pic {
  background-color: black; }

.menu-directive {
  transform: rotate(45deg);
  opacity: 0;
  position: absolute;
  left: -535px;
  top: 200px;
  border: solid #866F48;
  padding: 50px;
  width: 300px;
  height: 300px; }
  .menu-directive ol {
    transform: rotate(-45deg);
    margin-left: 10px; }
  .menu-directive li {
    color: #AC8E5D;
    opacity: .7;
    margin-top: 20px;
    font-size: 30px; }
    .menu-directive li a {
      text-decoration: none;
      color: #AC8E5D; }
    .menu-directive li:hover {
      opacity: 1;
      font-weight: bold; }

.contact-wrapper {
  transition: 1s;
  width: 600px;
  padding: 50px;
  position: absolute;
  z-index: 15;
  left: 200px;
  background-color: black;
  color: white;
  top: -500px; }
  .contact-wrapper .contact-us {
    color: #FFD700; }
  .contact-wrapper div {
    display: inline-block; }
  .contact-wrapper .glyphicon-remove {
    float: right;
    font-size: 30px; }
    .contact-wrapper .glyphicon-remove:hover {
      opacity: .8; }
  .contact-wrapper .snail-mail {
    vertical-align: top;
    width: 90%; }
    .contact-wrapper .snail-mail h5, .contact-wrapper .snail-mail h6 {
      width: 40%;
      display: inline-block; }
    .contact-wrapper .snail-mail h5 {
      color: #A9A9A9; }
