<div class="contact-wrapper">
  <h3 class = 'contact-us'>Contact Us <small></small></h3>
  <div class="snail-mail">
    <h5>Contact Information <small></small></h5>
    <br>
    <h6>Telephone <small></small></h6>
    <h5>(843) 830 2728</h5>
    <br>
    <h6> Address<small></small></h6>
    <h5> 1 Tradd St. <br>Charleston, SC <br>29401</h5>
    <h6>Email <small></small></h6>
    <h5><a href="mailto:vadlane@aol.com">vadlane@aol.com</a> <small></small></h5>
    <h5>    <a href="tel:8438302728" data-rel="external">Facetime</a></h5>
  </div>
  <span ng-click = "showContact(false)" class = "glyphicon glyphicon-remove"></span>
</div>
